.landing-page{
  background-image: url('../../land-background.jpg');
  background-size:cover;
  background-position:center;
  width: 100vw;
  height: calc(100vh - 70px);
}
.black-shadow{
  width: 100vw;
  height: 100%;
  background-color: rgba(0,0,0,0.4)
  }
  .land-nav{
    height: 70px;
    width: 100%;
    background-color:#444;
    padding: 0 10vw;
  }
  .logo{
    background-image: url('../../eistrue.png');
    background-size: cover;
    background-position:center;
    height:50px;
    width:200px;
    float:left;
    margin-top: 10px;
  }
  .landing-buttons{
    float:right;
    margin-top:20px;
  }
  .landing-text{
    color:white;
    text-align:center;
    padding-top:15%;
  }
  .landing-text h1{
    font-size:30px;
      font-family:Courier, monospace
  }
  .orange{
    color:#c66525
  }
  .blue{
    color:#00b5ad;
  }
  
