.companyDashboardContainer{
        padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.borders{
    border-left: 1px solid grey;
    padding-left:20px;
    border-right: 1px solid grey;
    padding-right:20px;
}
.companyDashboardPage{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}