.companyDashboardPage{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.companyDashboardContainer{
  width:75%;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  border-color: grey;
  background-color: rgba(255, 255, 255, 0.88)
}

.companyDashboardListingsContainer{
 width: 45%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.companyDashboardNewApplicantsContainer{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companyDashboardListingCardDescription{

}

.companyDashboardBottomPageLink{
  margin: 5px;
}
.currentCard{
  padding:10px;
}
