.title {
  font-size: 2.5em !important;
  color: orange
}

p {
    text-indent: 1vw;
}
 #landsignbutton {

display: flex;
align-items: center;
justify-content: center;
padding: 40px
 }
 #landlogbutton {

 }

 .landingbuttoncontainer{
   width: 50% !important;
   display: flex !important;
   justify-content: space-around !important;
   bottom: 3vh
 }
