.applications-page{
    padding: 0 10vw;
}
.card{
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.card:hover{
    background-color:#eee;
}

.job-create-page{
    background-image: url('https://www.xmple.com/wallpaper/linear-gradient-orange-blue-1920x1080-c2-ff4500-00ffff-a-210-f-14.svg');
    background-size: cover;
    background-position: center;
    height:calc(100vh - 70px);
    position:absolute;
    top:70px;
    width:100vw;
}
