
.loginMove {
  top:9vh;
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh
}

.logfooter {
  top:0px !important;
  position: relative;
  border-radius: 0px !important


}
.dottitle{
  color:#1a1a1c !important;
  font-size: 2.6em !important

}

  .loginvert{
    left:0px;
    bottom: 0px;
    filter: invert(100%);

  }
.footerContainer {
  position: absolute;
  bottom: 0px;
}
.ui.image {
  position: inherit;
}
.ui.tiny.image {
  margin: auto !important;
  position: absolute;
  right: 0%;
}
