.login-page{
  text-align: center;
  margin-top: -14px;

}
.logIn{
  text-align: center;
  border-radius: 10px;
  height: 320px;
  width:300px;
  background-color: rgba(255,255,255,0.85)
}
.center-login{
   display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 0 10vw;
}
.username-input{
  margin: 20px 0 20px 0;
}
.logIn h1{
  margin-top:30px;
}
.password-input{
}
.loginError{
  color: red;
}
.overideSemantic{
  width: 60% !important;
  margin: auto !important;
}
