
.loginMove {
  top:9vh;
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh
}

.logfooter {
  position: fixed;
  bottom: 0px;
  border-radius: 0px !important


}
.dottitle{
  color:#1a1a1c !important;
  font-size: 2.6em !important

}

  .loginvert{
    left:.4vw;
    top: 46vh;
    filter: invert(100%);


  }
  /*.happy1 {
    position:fixed;
    float:right;
    right: 8vw;
    top: 35vh;
    border-radius: 10em;
  }
  .happy2 {
    position:fixed;
    float:left;
    left: 8vw;
    top: 10vh;
    border-radius: 10em;
    transform: scale(-1, 1);
  }*/
