.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.navbar{
  padding: 0 10vw;
  background: rgb(69,72,77);
  background: linear-gradient(to right, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) !important;
  height: 70px;
}
body{
  background-color: #e5e5e5;
}