.devProfile{
padding: 0 10vw;
}
.devProfile .topContainer .profilePic{
width: 90%;
height:220px;
margin: 0 5%;
/*border: 2px solid rgb(173, 173, 173);*/
border-radius:6%;
float:left;
display:flex;
align-items:center;
justify-content:center;
overflow:hidden;
clear:both;
margin-top:15px;
}
.topContainer {
clear:both;
}
.devPic{
    height:100%;
    clear:both;
}
.portfolioPic{
    height:200px;
}
.devInfo{
    float:left;
    padding:0 20px;
    border-radius:10px;
    width:23%;
    position:fixed;
    height: 90vh;
    overflow-y: scroll;
}
.devInfo::-webkit-scrollbar-track
{
    width: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5 ;
}

.devInfo::-webkit-scrollbar
{
    width: 0px;
    background-color: #F5F5F5 ;
}

.devInfo::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #767676 ;
}
.devbottom{
    clear:both;
}
.leftInfoBar{
    padding:15px;
    margin-top:15px;
    margin-right:1%;
    border-radius:10px;
    width:23%;
    float:left;
}
.rightResume{

    border-radius:10px;
    width:70%;
    float:right;
    padding:20px;
}
.center{
    text-align:center;
}
.portfolioPieces{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.white{
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}
.react-fine-uploader-gallery-dropzone {
  width: 80% !important;
  margin: auto !important;
}
.canvas {
display: none;
}
.react-fine-uploader-gallery-file{
  width: auto !important;
  padding: 8px !important;
  height: 200px !important;
}
.hide {

  display: none !important;
}
.ProfileSkillsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 7px;
  padding-bottom: 7px;
  justify-content: space-between;
}

.ProfileSkillsImage{
  height: 50px;
  margin: 5px;
}


.ProfilePortfolioPieceSkillsContainer{
 margin: 8px;
}
.ProfilePortfolioPieceSkillsImage{
 height: 40px;
}
