.jobBox{
    margin: 0 10vw 15px 10vw;
    padding: 50px;
    border-radius: 5px;
    white-space: pre-line;
}
.topJobContainer{
    height:300px;
    padding-top:30px;
    margin-top: 30px;
}
.jobPic{
    height: 250px;
    width:250px;
    border-radius:100%;
    float:left;
    margin-left:20px;
}
.basicJobInfo{
    margin-left:50px;
    float:left;
    padding-top:15px;
}
.center{
    text-align:center
}