.jobBox{
    margin: 0 10vw 15px 10vw;
    padding: 50px;
    border-radius: 5px;
    white-space: pre-line;
}
.topJobContainer{
    height:350px;
    padding-top:25px;
}
.jobPic{
    height: 250px;
    width:250px;
    border-radius:100%;
    float:left;
    margin-left:20px;
    margin-top: 20px
}
.basicJobInfo{
    margin-left:50px;
    float:left;
    padding-top:15px;
}
.center{
    text-align:center;
    text-decoration: underline;
}
.ProfilePortfolioPieceSkillsImage{
overflow-y: hidden;
}
.companyName {
  margin-left: 10px;
}
.JobDetailsSkillContainer{
  margin:10px
}
